streamlit
langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
pypdf
rank-bm25
torch
scikit-learn
protobuf==4.25.3
opentelemetry-exporter-otlp==1.21.0
